* {
    margin: 0; /* Внешние отступы */
    padding: 0; /* Внутренние отстпы*/
    box-sizing: border-box;
}

input, button {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
}
/* Теперь свои стили*/

label {
    display: block; /* label вертикально */
    font-weight: bold; /* полужирный */
    margin-bottom: 10px; /* отступ снизу */
    margin-top: 10px; /* отступ сверху */
}

input {
    border: 3px solid wheat;
    border-radius: 10px;
    padding: 5px;
}

input:focus {
    background-color: green;
}

button {
    padding: 5px;
    border: 3px solid blue;
    background-color: blue;
    border-radius: 10px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: darkblue;
    color: crimson;
}